$main-color: #1657CE;
$main-color-light: #55D6EA;
$main-color-gradient: linear-gradient(135deg, #1657CE 0%, #55D6EA 100%);
$main-color-gradient-transparent: linear-gradient(135deg, rgba(22, 90, 206, 0.2) 0%, rgba(85, 214, 234, 0.2) 100%);

$black: #333;
$gray: #d7e9f3;

$text-gray: #ddd;
$text-gray-dark: rgb(146, 146, 146);
