@import './color';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    SimSun, sans-serif;
    color: $black;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-weight: 100;
}
h1 {
    font-size: 40px;
}