@import './normalize';
@import './global';
@import './color';

#root,
.App {
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
}

.blog-header {
    background-image: $main-color-gradient;
    color: #fff;
    padding: 80px;
    font-weight: 100;

    .blog-logo {
        width: 5vw;
        margin-right: 1vw;
        height: auto;
    }
    h1 {
        display: none;
    }
    h2 {
        display: inline;
        font-size: 14px;
        color: rgba(255,255,255,.8)
    }
}

.blog-main {
    flex: 1;
    padding: 4vw 2vw;
    margin: 0 auto;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.blog-footer {
    color: $text-gray;
    padding: 40px;
    text-align: center;
    font-weight: 100;
}

.blog-aside {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100vh;
    width: 300px;
    color: #fff;
    transform: translateX(100%);
    transition: .1s transform ease-in-out;
    z-index: 2;

    &.expend {
        transform: translateX(0)
    }

    .aside-toggle {
        position: absolute;
        display: inline-block;
        transform: translateX(-100%)
    }
}

.g-card {
    background: $gray;
    padding: 2vw 1.5vw;
    margin: 1vw 0;
    border-radius: .5vw;

    p {
        margin: 0;
    }
}

.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
    display: none;
    &.expend {
        display: block;
    }
}