@import './normalize';
@import './global';
@import './color';

.blog-header {
    background-image: $main-color-gradient;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-weight: 100;

    .blog-logo {
        margin-bottom: 20px;
        width: 5vw;
        height: auto;
    }
    h1 {
        display: none;
    }
}